.comment{
    margin: 30px;
    display: flex;
    div{
        margin: 10px;
    }
}

img{
    border-radius: 100%;

}
.contents{
    div{
        font-weight: bold;
        font-size: 24pt;
        margin: 20px;
    }
    font-size: 16pt;
}
